APP_NAME="Project Feed Reader"
APP_DEBUG=true
APP_KEY=
APP_HOST=http://localhost:8000
APP_TIMEZONE=Europe/London

LOG_FILEPATH=storage/logs/app.log

DB_FILEPATH=database/development.sqlite3

FEED_CACHE_PATH=storage/cache/feeds

VIEW_PATH=app/views
VIEW_CACHE_PATH=storage/cache/views
