<section class="pa2 tc">
	<h3>Search results for '{{ query }}'</h3>
{% for feed in feeds %}
	<div class="pa1">
		<a class="f4" href="{{ path_for('feeds.view', { 'id':feed.id }) }}">{{ feed.name }}</a>
	</div>
{% endfor %}
</section>