<li class="feed-list-item" data-id="{{ feed.id }}">
	<div class="card-title h5"><a href="{{ path_for('feeds.view', { 'id': feed.id } ) }}">{{ feed.name }}</a></div>
	<div class="card-subtitle text-gray">{{ feed.url }}</div>
</li>
