{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Create feed</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<form action="/feeds" method="post">
	{{ form_protect()|raw }}
	<div class="row">
		<div class="col-12">
			<h1>Create feed</h1>
		</div>
		<div class="col-12">
			<div class="form-btns">
				<a class="btn btn-link" href="/feeds">Go back to feeds</a>
				<button class="btn btn-outline btn-success" type="submit">Save feed</button>
			</div>
		</div>
	</div>
	{% include '@feeds/form.twig' %}
</form>
{% endblock %}
