{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Create feed</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<form action="{{ path_for('feeds') }}" method="post">
	<div class="row">
		<div class="column col-12">
			<h1>Create feed</h1>
		</div>
	</div>
	{% include '@feeds/form.twig' %}
	<div class="row">
		<div class="column col-12">
			<div class="form-btns">
				<a href="{{ path_for('feeds') }}" class="btn btn-outline"><i class="icon icon-back"></i>&nbsp;Go to home</a>
				<button class="btn btn-outline btn-success" type="submit"><i class="icon icon-check"></i>&nbsp;Save feed</button>
			</div>
		</div>
	</div>
</form>
{% endblock %}
