{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Delete feed</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<form action="{{ path_for('feeds.delete', { 'id': feed.id } ) }}" method="post">
	<input type="hidden" name="id" value="{{ feed.id }}">
	<div class="row">
		<div class="column col-12">
			<h1>Delete feed</h1>
		</div>
	</div>

	<section class="section section-pad-vertical">
		<div class="row">
			<div class="column col-12">
				{% include '@app/includes/alerts.twig' with {'alerts': alerts} %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">

			<div class="column col-12">
				<p class="text-large">Are you sure you want to delete the '{{ feed.name }}' feed?</p>
				<div class="form-btns">
					<a href="{{ path_for('feeds.edit', { 'id': feed.id } ) }}" class="btn btn-outline"><i class="icon icon-back"></i>&nbsp;No, I want to go back</a>
					<button class="btn btn-delete btn-error" type="submit"><i class="icon icon-delete"></i>&nbsp;Yes, delete this feed</button>
				</div>
			</div>

		</div>
	</section>

</form>
{% endblock %}
