{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Delete feed</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<form action="{{ path_for('feeds.delete', { 'id': feed.id } ) }}" method="post">
	<input type="hidden" name="id" value="{{ feed.id }}">
	<div class="row">
		<div class="col-12">
			<h1>Delete feed</h1>
		</div>
		<div class="col-12">
			<div class="form-btns">
				<a class="btn btn-outline" href="{{ path_for('feeds') }}">Go back to feeds</a>
			</div>
		</div>
	</div>

	<section class="section">
		<div class="row">
			<div class="col-12">
				{% include '@app/includes/alerts.twig' with {'alerts': alerts} %}
			</div>
		</div>
	</section>

	<section class="section">
		<div class="row">

			<div class="col-12">
				<p>Are you sure you want to delete the '{{ feed.name }}' feed?</p>
				<div class="form-btns">
					<button class="btn btn-error" type="submit">Delete feed</button>
				</div>
			</div>

		</div>
	</section>

</form>
{% endblock %}
