{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Feeds</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<div class="row">
	
	<section class="pv2">
		<div class="row">
			<div class="column col-12">
				{% include '@app/includes/alerts.twig' with {'alerts': alerts} %}
			</div>
		</div>
	</section>

	<div class="column col-12">
		
		<section class="pv2 tc v-mid">
			{% if nav|length == 0 %}
				<h1 class="f1">Welcome to your feeds</h1>
				<p class="f3">To get started <a href="{{ path_for('feeds.create') }}">add your first feed</a></p>
			{% else %}
				{% include '@feeds/includes/index-search.twig' %}
				{% if feeds|length > 0 %}
					{% include '@feeds/includes/index-search-results.twig' %}
				{% endif %}
			{% endif %}
		</section>
		
	</div>
</div>
{% endblock %}
