{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Feeds</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<form action="/feeds" method="get">
	<div class="row">
		<div class="col-12">
			<h1>Feeds</h1>
		</div>
		<div class="col-12">
			<div class="form-btns">
				<button class="btn btn-outline" type="submit">Search feeds</button>
			</div>
		</div>
	</div>
	<section class="section">
		{% if feeds|length > 0 %}
			{% include '@feeds/includes/list.twig' %}
		{% else %}
			<p>There are no feeds to display, get started by <a href="/feeds/create">adding a feed</a></p>
		{% endif %}
	</section>
</form>
{% endblock %}
