{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Feeds</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<form action="{{ path_for('feeds') }}" method="get">
	<div class="row">
		<div class="col-12">
			<h1>Feeds</h1>
		</div>
		<section class="section">
			<div class="row">
				<div class="col-12">
					{% include '@app/includes/alerts.twig' with {'alerts': alerts} %}
				</div>
			</div>
		</section>
		<div class="col-12">
			<div class="form-btns">
				<a href="{{ path_for('feeds.create') }}" class="btn btn-outline">Add feed</a>
				<button class="btn btn-outline" type="submit">Search feeds</button>
			</div>
		</div>
	</div>
	<section class="section">
		{% if feeds|length > 0 %}
			{% include '@feeds/includes/list.twig' %}
		{% else %}
			<p>There are no feeds to display, get started by <a href="{{ path_for('feeds.create') }}">adding a feed</a></p>
		{% endif %}
	</section>
</form>
{% endblock %}
