{% extends('@app/templates/layout.twig') %}

{% block head %}
<title>Feed {{ feed.name }}</title>
{% endblock %}


{% block script %}
{% endblock %}


{% block main %}
<section class="section">
	<div class="row">
		<div class="col-12">
			<h1>Feed {{ feed.name }}</h1>
			<p>{{ feed.description }}</p>
		</div>
		<div class="col-12">
			<div class="form-btns">
				<a class="btn btn-link" href="/feeds">Go back to feeds</a>
			</div>
		</div>
	</div>
</section>
<section class="section section-inset">
	display feed contents
</section>
{% endblock %}
