.nav {
	padding:2rem 1rem;
}
// the main list of feeds in the side nav
.nav-list {
	list-style:none;
	margin:1rem;
}
// the nav list item should not have any color history
.nav-list-item {
	a, a:active, a:hover, a:visited {
		color:$primary-color;
		font-size:0.9rem;
		white-space:nowrap;
	}
}