.section {
	
}
.section-pad {
	padding:1rem;
}
.section-pad-more {
	padding:3rem;
}
.section-pad-vertical {
	padding:1rem 0;
}
.section-pad-horizontal {
	padding:1rem 0;
}
.section-center-vertical {
	
}