<ul class="nav-list">
{% for feed in feeds %}
	<li class="nav-list-item" data-id="{{ feed.id }}">
		<a href="{{ path_for('feeds.view', { 'id': feed.id } ) }}">{{ feed.name|default("Unknown") }}</a>
	</li>
{% endfor %}
</ul>
