{# keyboard users start here #}
{% if feeds|length > 0 %}
	<h3 class="text-center">Your feeds</h3>
	<a class="btn btn-outline" href="{{ path_for('feeds.create') }}" tabindex="1"><i class="icon icon-plus"></i>&nbsp;Add a feed</a>
	{# this shouldn't really be needed with <nav> & <main> elements #}
	<div class="nav-skip-link">
		<a class="text-skip-link" href="#main" tabindex="2">Skip the feeds list</a>
	</div>
	{% include '@app/includes/nav-list.twig' %}
{% else %}
	<a class="btn btn-outline" href="{{ path_for('feeds.create') }}" tabindex="1"><i class="icon icon-plus"></i>&nbsp;Add a feed</a>
{% endif %}
